img {
  opacity: 0.5;
}

p {
  margin-bottom: 0px;
}

/* h1 {
  font-size: calc(2.1rem + 0.3vw);
} */

.app-box {
  text-align: left;
  margin: 0 auto;
  max-width: 568px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 25px;
  background-color: #83cbd0a9;
  color: rgb(89, 90, 90);
  display: flexbox;
  font-family: "Jost", sans-serif;
  margin-bottom: 20px;
  justify-content: space-between;
}

/* .high {
  text-align: right;
} */

.smaller {
  font-size: 12px;
}

.icon-div {
  max-width: 9vh;
}

.low .high {
  padding: 0px;
}

.card {
  padding: 8px;
  border: 1px solid gray !important;
  margin: 2px;
  border-radius: 10px;
  background-color: transparent;
  justify-content: center;
  flex-direction: column;
}

.weather-icon {
  width: auto;
  height: 100px;
  display: block;
}
/* .card-img {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
} */
.search-div {
  text-align: right;
}
#current-temp {
  font-size: calc(1.9rem + 0.3vw);
}
#city-search-bar {
  border-radius: 10px;
  border: solid 1px gray;
  padding: 5px;
  max-width: 100%;
  margin-bottom: 2px;
}

#city-search-submit-btn,
#sync-location-btn,
#switch-metric-btn {
  border-radius: 10px;
  border: solid 1px gray;
  font-size: small;
  padding: 5px;
  margin: 1.5px;
  background-color: #ffffff;
}
input:focus {
  outline: none !important;
  box-shadow: 2px 2px #f3dfa2;
}

#city-search-submit-btn:hover,
#sync-location-btn:hover,
#switch-metric-btn:hover {
  background-color: #f3dfa2;
  color: gray;
}
input:focus::placeholder {
  color: transparent;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  border: solid 1px gray;
  border-radius: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 0px;
  text-align: center;
  font-size: small;
}

.slider:before {
  position: absolute;
  content: "°C";
  height: 23px;
  width: 23px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f3dfa2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "°F";
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
